<ion-view nav-bar-hide="true">
    <ion-content class="padding">

        <head>
            <style>
                body {
                    background-color: #FF0000
                }
                
                h1.blocktext {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    width: 10em
                }
                
                h1 {
                    color: black
                }
            </style>
        </head>

        <body bg-color='#FF0000'>
            <Div>
                <h1 class='blocktext'>Threads requrires you to login to view content!</h1>
            </Div>
        </body>
        <div>
          <!--button to go to signup form-->
          <button class="button button-block button-positive" ng-hide"fbsignup" ng-click"signup()">
            Create new account
          </button>
           <!--button to go to Login form-->
           <button class="button button-block button-positive" ng-hide"fbsignup" ng-click"login()">
           Login to existing account
           </button>
            <!--This is the faccebook login-->
            <button class="button button-block button-positive" ng-hide="fbsignup" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i> &nbsp;Login with Facebook
            </button>
        </div>
        <!--This is the signupform  form that allows users to signup in.-->
        <div class="list Form" ng-show="showsignupform">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ngmodel="login.usn">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="login.em">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="login.pwd">
            </label>
            <button class="button button-block button-assertive" ng-click="signup(signup.usn,signup.em,signup.pwd)">Sign Up!</button>
        </div>
        <!--This is the LoginForm for existing users-->
        <div class="list Form" ng-show="showloginform">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="login.em">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="login.pwd">
            </label>
        </div>