<ion-view hide-nav-bar='true' view-title="Local Threads" ng-init="nearbyRefresh()">
    <ion-content>
        <ion-refresher
            pulling-text="Pull down to refresh..."
            on-refresh="nearbyRefresh()">
        </ion-refresher>
        <div class="list card" ng-repeat="post in posts">
            <div class="item item-divider"><b>Nearby Post!</b> - {{post.timestamp | date:'MMM dd - HH:mm'}}</div>
            <div class="item item-body">
                <div>
                    {{post.content}}
                </div>
                <div>
                    <b>{{post.vote}}</b>
                </div>
            </div>
        </div>
    </ion-content>
    <form class = "nearbyPostForm">
        <div class = "item item-input-inset">
           <label class = "item-input-wrapper">
                <input type="text" placeholder="Type something here..." maxlength="140" ng-model="post.content">
           </label>            
           <button class = "button button-small" ng-click="nearbyPost()">Post</button>
        </div>
    </form>
</ion-view>